.HomePage form {
    margin: 1rem auto;
}

.HomePage textarea {
    display: block;
    margin: 1rem auto;
    margin-bottom: 1rem;
    font-size: .9rem;
    line-height: 1.2rem;
}

.PostButton {
    display: block;
    margin-left: 2rem;
    width: 18.8rem;
    background-color: #01b7ee;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.HomePage hr {
    width: 11rem;
    margin: 1.7rem auto;
}

.HomePage ul {
    width: 20.8rem;
}

@media (min-width: 650px) {
    .HomePage {
        width: 30rem;
        margin: 4rem auto;
        border: 2px solid #01b7ee;
        padding: 90px;
        padding-top: 41px;
        padding: 41px 90px;
    }
    .HomePage ul {
        padding: 0;
    }
    .HomePage textarea {
        width: 20rem;
    }
    .PostButton {
        width: 20rem;
    }
}