.Profile {
    width: 80%;
    margin: 2rem auto;
}

.Profile h2 {
    color: white;
    text-align: center;
}

.Profile h3 {
    color: #01b7ee;
    margin-bottom: .7rem;
    padding-left: 2px;
}

.Profile ul {
    padding: 0;
}

.CreatePost {
    color: white;
    text-align: center;
}

.CreatePost a {
    color: #d4fd02;
}

.CreatePost a:hover {
    color: #01b7ee;
    border: none;
}

.FriendsList {
    border: 1px solid white;
    width: 100%;
    height: 8rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 8px;
}

.FriendsList a:hover {
    border: none;
    color: #d4fd02;
}

.Friend {
    color: white;
    margin: 10px;
    width: 132px;
    max-width: 132px;
    overflow: scroll;
    font-size: 16px;
}

.LikeError {
    color: red;
    position: relative;
    top: -22px;
}

.Links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 27px;
    margin-top: 17px;
}

.Links a {
    margin: 1px 10px;
    font-size: .9rem;
    color: #d4fd02;
    border-bottom: 1px solid black;
    background-color: black;
}

.Links a:hover {
    border-bottom: 1px solid lime;
}

.PostContainer {
    border: 1px solid white;
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    color: white;
    margin-bottom: 2rem;
}

.PostName {
    background-color: #01b7ee;
    color: white;
    width: 100%;
    margin: 0;
    height: 29px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.PostName p {
    margin: 0;
    padding-left: 8px;
    padding-top: 2px;
    color: white;
}

.Post {
    width: 100%;
    height: fit-content;
    padding: 5px 15px;
    margin-top: 6px;
}

.Post p {
    color: white;
    margin: 0;
    margin-top: 3px;
    font-size: .9rem;
    line-height: 1.2rem;
}

.LikeComment {
    font-size: 0.85rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    color: #01b7ee;
    border: none;
    display: inline-flex;
    background-color: black;
    border-top: 1px solid white;
    margin-top: 5px;
}

.LikeComment div {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 4px;
    border-right: 1px solid white;
    margin: auto;
}

.LikeComment div:hover {
    cursor: pointer;
}

.Comment textarea {
    margin: 0;
    background-color: black;
    width: 100%;
    color: white;
    padding: 11px 16px 7px 19px;
}

.Comment {
    padding-bottom: 8px;
}

.Comment button {
    background-color: black;
    color: var(--blue);
    border: .5px solid grey;
    margin: 4px auto;
    display: block;
    font-size: .85rem;
}

@media (min-width: 650px) {
    .Profile {
        width: 30rem;
        margin: 4rem auto;
        border: 2px solid #01b7ee;
        padding: 90px;
        padding-top: 50px;
    }
    .Post {
        padding: 4px 17px;
    }
    .PostContainer {
        width: 20rem;
    }
}