.SideDrawer {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    z-index: 100;
    padding: 40px 29px 15px 29px;
    height: fit-content;
    font-weight: 500;
    font-size: 21px;
    background-color: black;
    box-sizing: border-box;
    transition: width 0.3s ease-out;
}

.SideDrawer li {
    margin-bottom: 10px;
}

.MenuContainer {
    overflow: hidden;
    height: 200px;
    width: 0;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    z-index: 100;
    transition: width .3s ease-out;
}

.Open {
    width: 200px
}

.Close {
    width: 0;
}

@media (min-width: 650px) {
    .SideDrawer {
        display: none;
    }
    .MenuContainer {
        display: none;
    }
}