.SideDrawer {
    position: absolute;
    top: 0;
    right: -200px;
    width: fit-content;
    z-index: 100;
    padding: 40px 29px 15px 29px;
    height: fit-content;
    font-weight: 500;
    font-size: 21px;
    background-color: black;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.SideDrawer li {
    margin-bottom: 10px;
}

.MenuContainer {
    overflow: hidden;
    height: 200px;
    width: 141px;
    position: relative;
    float: right;
    top: -64px;
    z-index: 100;
}

.Open {
    transform: translateX(-219px);
}

.Close {
    transform: translateX(0);
}

@media (min-width: 650px) {
    .SideDrawer {
        display: none;
    }
    .MenuContainer {
        display: none;
    }
}