.Logo {
    width: 110px;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.Logo a {
    color: white;
}

.Accent {
    color: #01b7ee;
}